# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.github
!.mailmap
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore
# maintenance migration scripts
odoo/addons/base/maintenance

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# js tooling
node_modules
package-lock.json
package.json

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/

# avoid adding it after generation from tsconfig command
tsconfig.json
odoo/__pycache__/__init__.cpython-310.pyc
odoo/__pycache__/api.cpython-38.pyc
odoo/__pycache__/models.cpython-38.pyc
odoo/__pycache__/netsvc.cpython-38.pyc
odoo/__pycache__/release.cpython-38.pyc
odoo/__pycache__/sql_db.cpython-38.pyc
odoo/modules/__pycache__/__init__.cpython-38.pyc
odoo/modules/__pycache__/db.cpython-38.pyc
odoo/modules/__pycache__/graph.cpython-38.pyc
odoo/modules/__pycache__/loading.cpython-38.pyc
odoo/modules/__pycache__/migration.cpython-38.pyc
odoo/modules/__pycache__/module.cpython-38.pyc
odoo/modules/__pycache__/registry.cpython-38.pyc
odoo/__pycache__/__init__.cpython-310.pyc
odoo/__pycache__/api.cpython-38.pyc
odoo/__pycache__/models.cpython-38.pyc
odoo/__pycache__/netsvc.cpython-38.pyc
odoo/__pycache__/release.cpython-38.pyc
odoo/__pycache__/sql_db.cpython-38.pyc
odoo/modules/__pycache__/__init__.cpython-38.pyc
odoo/modules/__pycache__/db.cpython-38.pyc
odoo/modules/__pycache__/graph.cpython-38.pyc
odoo/modules/__pycache__/loading.cpython-38.pyc
odoo/modules/__pycache__/migration.cpython-38.pyc
odoo/modules/__pycache__/module.cpython-38.pyc
odoo/modules/__pycache__/registry.cpython-38.pyc
odoo/tools/__pycache__/json.cpython-38.pyc
odoo/tools/__pycache__/speedscope.cpython-38.pyc
odoo/tools/__pycache__/view_validation.cpython-38.pyc
odoo/__pycache__/__init__.cpython-310.pyc
odoo/__pycache__/api.cpython-38.pyc
odoo/__pycache__/models.cpython-38.pyc
odoo/__pycache__/netsvc.cpython-38.pyc
odoo/__pycache__/release.cpython-38.pyc
odoo/__pycache__/sql_db.cpython-38.pyc
odoo/tools/__pycache__/json.cpython-38.pyc
odoo/tools/__pycache__/speedscope.cpython-38.pyc
odoo/tools/__pycache__/view_validation.cpython-38.pyc
odoo/modules/__pycache__/__init__.cpython-38.pyc
odoo/modules/__pycache__/db.cpython-38.pyc
odoo/modules/__pycache__/graph.cpython-38.pyc
odoo/modules/__pycache__/loading.cpython-38.pyc
odoo/modules/__pycache__/migration.cpython-38.pyc
odoo/modules/__pycache__/module.cpython-38.pyc
odoo/modules/__pycache__/registry.cpython-38.pyc
